<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
        type="button"
        class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="default-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
       aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-900">
    <ul class="space-y-2 font-medium">
      @for (route of activatedRoute; track route.url) {

        @if (route.hasSeperator) {
          <hr class="my-4 mt-16 border-gray-200 dark:border-gray-600"/>
        }
        <li>
          @if (!route.isHidden) {
            @if (route.url === 'account') {

              <div>
                <a routerLink="{{ route.url }}" (click)="setRouteActive(route.url)" [ngClass]="getClassAssets(route)">
                  <img class="object-cover mx-2 rounded-full h-9 w-9"
                       [src]="environment.apis.avatarAPI + auth.getUser().avatar || ''" alt="avatar"/>
                  <span class="mx-2 font-medium text-gray-800 dark:text-gray-200">
                    <app-username></app-username>
                </span>
                </a>
              </div>

            } @else if (route.canShowTo.admin) {

              @if (isAdmin) {
                <div>
                  <a routerLink="{{ route.url }}" (click)="setRouteActive(route.url)"
                     [ngClass]="getClassAssets(route)">
                    <mat-icon>{{ route.icon }}</mat-icon>

                    <span class="mx-4 font-medium">{{ route.name }}</span>
                  </a>
                </div>
              }

            } @else if (route.canShowTo.loggedUser) {

              @if (isLoggedIn) {
                <div>
                  <a routerLink="{{ route.url }}" (click)="setRouteActive(route.url)"
                     [ngClass]="getClassAssets(route)">
                    <mat-icon>{{ route.icon }}</mat-icon>

                    <span class="mx-4 font-medium">{{ route.name }}</span>
                  </a>
                </div>
              }

            } @else {

              <div>
                <a routerLink="{{ route.url }}" (click)="setRouteActive(route.url)"
                   [ngClass]="getClassAssets(route)">
                  <mat-icon>{{ route.icon }}</mat-icon>

                  <span class="mx-4 font-medium">{{ route.name }}</span>
                </a>
              </div>

            }

          }
        </li>

      }
    </ul>
  </div>
</aside>
