<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button>

<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-white dark:bg-gray-900 border border-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a routerLink="" (click)="setRouteActive('dashboard')"
                   [ngClass]="activatedRoute.dashboard ? isActiveRoute : isNotActiveRoute">
                    <mat-icon>home</mat-icon>

                    <span class="mx-4 font-medium">Home</span>
                </a>
            </li>

            <!--
            <li>
                <a *ngIf="isLoggedIn" routerLink="users/find-friends" (click)="setRouteActive('accounts')" [ngClass]="activatedRoute.accounts ? isActiveRoute : isNotActiveRoute">
                  <mat-icon>group</mat-icon>

                  <span class="mx-4 font-medium">Find friends</span>
                </a>
            </li>

            <li>
                <a *ngIf="isLoggedIn" routerLink="tickets" (click)="setRouteActive('tickets')" [ngClass]="activatedRoute.tickets ? isActiveRoute : isNotActiveRoute">
                  <mat-icon>confirmation_number</mat-icon>

                  <span class="mx-4 font-medium">Tickets</span>
                </a>
            </li>

            <li>
                <a *ngIf="isLoggedIn" routerLink="settings" (click)="setRouteActive('settings')" [ngClass]="activatedRoute.settings ? isActiveRoute : isNotActiveRoute">
                  <mat-icon>settings</mat-icon>

                  <span class="mx-4 font-medium">Settings</span>
                </a>
            </li>
            -->

            <li>
                <a *ngIf="isLoggedIn" routerLink="archive/table" (click)="setRouteActive('archive')"
                   [ngClass]="activatedRoute.archive ? isActiveRoute : isNotActiveRoute">
                    <mat-icon>inventory</mat-icon>

                    <span class="mx-4 font-medium">Archive</span>
                </a>
            </li>

            <li>
                <div *ngIf="isAdmin">
                    <hr class="my-4 mt-16 border-gray-200 dark:border-gray-600"/>

                    <a routerLink="admin/dashboard" (click)="setRouteActive('admin_dashboard')"
                       [ngClass]="activatedRoute.admin_dashboard ? isActiveRoute : isNotActiveRoute">
                        <mat-icon>dashboard</mat-icon>

                        <span class="mx-4 font-medium">Admin dashboard</span>
                    </a>
                </div>
            </li>
        </ul>

        <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700" *ngIf="isLoggedIn">
            <li>
                <a routerLink="account" class="flex items-center px-4 -mx-2">
                    <img class="object-cover mx-2 rounded-full h-9 w-9"
                         [src]="environment.apis.avatarAPI + auth.getUser().avatar || ''" alt="avatar"/>
                    <span class="mx-2 font-medium text-gray-800 dark:text-gray-200">
                    <app-username></app-username>
                </span>
                </a>
            </li>
        </ul>
    </div>
</aside>
