<div class="flex ml-4 mb-10">
  <div>
    <p class="text-xl font-bold">Archive table</p>
    <p class="text-sm text-gray-500">Please remember that this site works with real productive data and no intentional errors will be tolerated.</p>
    <p class="text-sm text-gray-500">The data is fetched from a public API and is stored in the database.</p>
  </div>

  <div class="ml-6 mt-6">
    <button class="flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="getTableData()">
      Refetch data
      <mat-icon class="ml-1">sync</mat-icon>
    </button>
  </div>
</div>

@if (!isLoading) {
  <app-datatable [data]="tableData" [visibleCols]="['title', 'komponist', 'group', 'stil', 'grad']"
                 [linkCol]="'_id'"></app-datatable>
} @else {
  <app-loader type="bar"></app-loader>
}
