<div id="toast-success" class="fixed flex items-center w-fit p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow right-5 bottom-5 dark:text-gray-500 dark:divide-gray-800 space-x dark:bg-gray-900" role="alert">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-auto h-8 text-gray-500 bg-gray-100 rounded-lg dark:bg-gray-800 dark:text-gray-200">
    <mat-icon>{{icon}}</mat-icon>

    <span class="sr-only">Check icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">{{msg}}</div>
  <a *ngIf="btnConfig.isShown" [routerLink]="btnConfig.link" class="text-sm font-normal text-blue-600 dark:text-blue-500 underline">{{btnConfig.text}}</a>
  <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-500 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-400 p-1.5 hover:bg-gray-200 inline-flex items-center justify-center h-8 max-w-fit dark:text-gray-700 dark:hover:text-white dark:bg-gray-900 dark:hover:bg-gray-900" data-dismiss-target="#toast-success" aria-label="Close">
    <span class="sr-only">Close</span>
    <mat-icon>close</mat-icon>
  </button>
</div>
