<div class="flex ml-4 mb-10">
  <div>
    <p class="text-xl font-bold">Demo of archive table</p>
    <p class="text-sm text-gray-500">Please remember that this page is for demo purposes only!</p>
    <p class="text-sm text-gray-500">The data is fetched from a public API and is stored in the database.</p>
  </div>

  <div class="ml-6 mt-6">
    <button class="flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="getDemoData()">
      Refetch data
      <mat-icon class="ml-1">sync</mat-icon>
    </button>
  </div>
</div>

@if (!isLoading){
  <app-datatable [data]="demoData" [visibleCols]="['title', 'komponist', 'group', 'stil', 'grad']"></app-datatable>
} @else {
  <app-loader></app-loader>
}
